<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1903089470-84uo5l1ll6mo2pl0d0aa6ra4r658t5em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1903089470-84uo5l1ll6mo2pl0d0aa6ra4r658t5em</string>
	<key>API_KEY</key>
	<string>AIzaSyCkTawTaj8cQqx2_7F_JmscR9RPmR_x3rk</string>
	<key>GCM_SENDER_ID</key>
	<string>1903089470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.renadagi-gallery</string>
	<key>PROJECT_ID</key>
	<string>renadagigallery</string>
	<key>STORAGE_BUCKET</key>
	<string>renadagigallery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1903089470:ios:33d2da171bf458a8057e6f</string>
</dict>
</plist>